<section class="middle">


  <p class="flash"><%= notice %><%= alert %></p>
  <% @blogs.each do |blog| %>



  <div class="article">
    <article class="color">
      <header class="poster">
        <div class="role_user">
          <%= profile_img(blog.user) if profile_img(blog.user) %>
        </div>

        <a class="user"><%= blog.user.name %></a>
      </header>
      <div class="content">
        <h4><strong><%= blog.content %></strong></h4>
        </p>

      </div>
      <div class="picture">
        <% if blog.image? %>
        <div class="role_pic">
          <%= image_tag blog.image.url, class: "role_pic" %>
        </div>
      <% end %>
      </div>

      <div class="btn-box">
        <%= link_to "編集", edit_blog_path(blog.id),class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", blog_path(blog.id), method: :delete, data:{confirm:"本当によろしいですか？"}, class: 'btn btn-default' %>
        <%= link_to "コメントする", blog_path(blog),class: 'btn btn-default' %>
      </div>
    </article>
  </div>
  <% end %>
</section>